<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>MENU</title>
  </head>
  <body>

    <h2> Data sensor (DS18B20)</h2>
    <h2 class="card-category"> Wireless Stick Lite  </h2>


    <p></p>

    <a href="graph_24h"> Temperature(°C) dernier 24 Heures </a>


    <p></p>

    <a href="graph_mois"> Temperature(°C) mois actuel </a>

    <p></p>


    <a href="graph_heure">Temperature(°C) dernier 60 mins </a>
    <p></p>


    <a href="graph_all">Temperature(°C) tout les donnees </a>



  </body>
</html>